---
layout: default
---

<!-- This loops through the paginated posts -->
<div class="posts">
  {% for post in paginator.posts %}
    <article class="post">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Lire la suite</a>
    </article>
  {% endfor %}
</div>

<hr>

<!-- Pagination links -->
{% if paginator.total_pages > 1 %}
<div class="pagination">
  Articles sur le RGPD :
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | relative_url }}">&laquo; Précédent</a>
  {% else %}
    <span>&nbsp;</span>
  {% endif %}

  {% for page in (1..paginator.total_pages) %}
    {% if page == paginator.page %}
      <em>{{ page }}</em>
    {% elsif page == 1 %}
      <a href="{{ '/' | relative_url }}">{{ page }}</a>
    {% else %}
      <a href="{{ site.paginate_path | relative_url | replace: ':num', page }}">{{ page }}</a>
    {% endif %}
  {% endfor %}

  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | relative_url }}">Suivant &raquo;</a>
  {% else %}
    <span>&nbsp;</span>
  {% endif %}
</div>
{% endif %}
